@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');


:root {
    --main-color: #00ff00;
    --main-modal-color:  #eeff00;
    --second-color: #80ff80;
    --second-modal-color: white;
  }
  
  html {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    
    font-size: 35px;
    line-height: 1.6;
    color: var(--second-color);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }


  *,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 2rem auto;
  overflow-x: hidden;
  max-width: 500px;
  height: fit-content;
  border-radius: 5%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.Header {
    display: flex;
    flex-direction: column;
    text-align: center;
   
  }
.Header img {
  
    margin: 0 auto;
    padding-top: 10px;
    display: block;
    max-width: 180px;
    border-radius: 50%;
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.btn {
  
  background: #d93491;
  background-image: -webkit-linear-gradient(top, #d93491, #2980b9);
  background-image: -moz-linear-gradient(top, #d93491, #2980b9);
  background-image: -ms-linear-gradient(top, #d93491, #2980b9);
  background-image: -o-linear-gradient(top, #d93491, #2980b9);
  background-image: linear-gradient(to bottom, #d93491, #2980b9);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  margin-top: 15px;
  border-radius: 50px;
  text-shadow: 0px 6px 5px #08ff6f;
  font-family: Georgia;
  color: #32eddd;
  font-size: 23px;
  padding: 10px 10px 6px 16px;
  border: solid #ff1cca 18px;
  text-decoration: none;
}

.btn:hover {
  background: #fc3caf;
  background-image: -webkit-linear-gradient(top, #fc3caf, #8934d9);
  background-image: -moz-linear-gradient(top, #fc3caf, #8934d9);
  background-image: -ms-linear-gradient(top, #fc3caf, #8934d9);
  background-image: -o-linear-gradient(top, #fc3caf, #8934d9);
  background-image: linear-gradient(to bottom, #fc3caf, #8934d9);
  text-decoration: none;
}


/* BASIC */



body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h3.inactive {
  color: #cccccc;
}

h3.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}


/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}




  @keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
   @-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }